#content{
    background: url("../image/bg.png");
    width: 100%;
    height: 978px;
    background-size: 100% 978px;
    min-width: 978px;
}

.content{
    width: 978px;
    margin: 0 auto;
}

.content > .left, .right, .center{
    display: inline-block;
    vertical-align: top;
}

.left{
    width: 233px;
    padding-left: 27px;
    margin-top: 95px;
}

.right{
    width: 315px;
    margin-top: 75px;
}

.center{
    width: 383px;
    margin-top: 40px;
}

.center img{
    margin-left: 35px;
}

#masters{
    margin-top: 18px;
    background: rgba(235,245,252,0.40);
    border-radius: 20px;
    width: 315px;
    padding-left: 50px;
    padding-right: 18px;
}

#masters > h2{
    font-size: 34px;
    color: #13408b;
    padding-top: 14px;
    padding-bottom: 10px;
}

#name-masters{
    width: 315px;
    border-top: 1px dashed #9d978b;
    padding-bottom: 20px;
    padding-top: 15px;
}

.image{
    width: 64px;
    height: 70px;
    border: 1px solid #4d5b86;
    margin-right: 20px;
    float: left;
}

.name{
    font-size: 18px;
    font-weight: bold;
    color: #13408b;
}

.text{
    margin-top: 5px;
    color: #4f4f4f;
    overflow: hidden;
}

.graphick{
    background: url("../image/graphick.png") no-repeat;
    width: 176px;
    height: 109px;
    text-align: center;
    padding: 30px 5px 20px 5px;
    font-size: 15px;
    color: #fff;
    margin-left: 13px;
}

.graphick > span{
    display: block;
}

.graphick:hover{
    cursor: pointer;
}

#sidebar{
    width: 190px;
    border: 4px solid #fff;
    border-radius: 26px;
    padding: 7px;
    margin-bottom: 30px;
}

.sidebar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    border: 1px solid #b7b2a9;
    border-radius: 20px;
    width: 153px;
    background: rgba(255,255,255,0.25);
}

.sidebar > ul > li{
    list-style: url("../image/krapka.png");
    margin-bottom: 15px;
}

.sidebar > ul > li > a{
    text-decoration: none;
    font-size: 15px;
    color: #2d2b28
}

.sidebar > ul > li > a:hover{
    color: #075bb2;
}

.sidebar > ul > li:hover{
    color: #fff;
    list-style: url("../image/krapka_hover.png");
}

#news{
    width: 190px;
    border: 4px solid #fff;
    border-radius: 26px;
    padding: 7px;
    margin-bottom: 15px;
}

.news{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border: 1px solid #b7b2a9;
    border-radius: 20px;
    width: 170px;
    background: rgba(255,255,255,0.25);
}

.news > ul > li{
    margin-bottom: 20px;
    color: #2d2b28;
}

.date{
    color: #2d2b28;
}

.news > ul > li > a{
    color: #2d2b28;
}

.news > ul > li > a:hover{
    color: #075bb2;
}

#contacts{
    width: 190px;
    border: 4px solid #fff;
    border-radius: 26px;
    padding: 7px;
    margin-bottom: 15px;
}

.contacts{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    border: 1px solid #b7b2a9;
    border-radius: 20px;
    width: 160px;
    background: rgba(255,255,255,0.25);
    color: #2d2b28;
    font-size: 13px;
}

.contacts > ul > li{
    list-style: url("../image/krapka.png");
    margin-bottom: 8px;
}

.contacts > ul > span{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
}

.zapis{
    background: url("../image/vsalon.png") no-repeat;
    width: 161px;
    height: 55px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 12px 20px 5px 20px;
}

.right > img{
    margin-bottom: 35px;
}

.actions{
    margin-top: 53px;
    border-radius: 25px;
    background: rgba(235,238,252,0.45);
    padding-left: 20px;
    padding-right: 38px;
    padding-top: 16px;
    padding-bottom: 20px;
}

.actions > .acc{
    font-size: 34px;
    color: #d41313;
    display: block;
    padding-bottom: 2px;
}

.dermapro{
    background: url("../image/actions.png") no-repeat;
    width: 261px;
    margin-left: -44px;
    padding: 26px 0px 16px 46px;
    font-weight: bold;
    font-size: 18px;
    color: #f3edf1;
}

.img{
    width: 94px;
    height: 128px;
    border: 2px solid #ee2c57;
    border-radius: 3px;
    float: left;
    margin-right: 13px;
}

.name-actions{
    margin-top: 10px;
}

.text1{
    color: #282828;
}

.sert{
    background: url("../image/sert.png") no-repeat;
    width: 299px;
    height: 195px;
    margin-top: 27px;
    margin-left: -10px;
}

.sert:hover{
    cursor: pointer;
}

.sertuficatu{
    height: 160px;
    background: #f1efda;
    border-bottom: 1px dashed #6a624c;
    border-top: 1px dashed #6a624c;
}

.sertuficatu > ul > li{
    display: inline-block;
    margin-top: 15px;
    margin-right: 60px;
}

.sertuficatu > ul{
    margin-left: 90px;
}

.poslygu > .left-poslygu, .right-poslygu{
    display: inline-block;
    width: 420px;
}

.right-poslygu{
    float: right;
}

.poslyga{
    margin-top: 30px;
}

.image-poslygu{
    width: 84px;
    height: 74px;
    border: 1px solid #6a573a;
    border-radius: 2px;
    float: left;
    margin-right: 16px;
}

.title-poslygu{
    background: url("../image/title-poslygu.png") no-repeat;
    width: 296px;
    height: 28px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 102px;
    padding: 9px 0px 0 20px;
}

.text-poslygu{
    color: #4f4f4f;
    overflow: hidden;
}

.poslygu{
    padding-bottom: 63px;
}


/*Questions*/
    #questions{
        margin-top: 16px;
        width: 610px;
        background: rgba(235,245,252, 0.4);
        border-radius: 30px;
        padding-top: 15px;
        padding-left: 45px;
        padding-right: 33px;
        padding-bottom: 15px;
    }

    #questions > .title{
        font-size: 34px;
        color: #13408b;
        padding-bottom: 15px;
    }

    .add_put{
        background:  url("../image/add_put.png") no-repeat;
        width: 255px;
        height: 39px;
        float: right;
        font-weight: bold;
        font-size: 25px;
        color: #fff;
        padding: 5px 0px 0px 11px;
    }

    .putania{
        width: 610px;
        margin-top: 15px;
        border-top: 1px dashed #6a573a;
        margin-bottom: 20px;
    }

    .put{
        margin: 15px 0;
        font-weight: bold;
        font-size: 18px;
        color: #13408b;
    }

    .image-put{
        background: url("../image/i.png") no-repeat;
        width: 36px;
        height: 71px;
        float: left;
        margin-right: 15px;
    }

    .otvet{
        color: #303030;
        overflow: hidden;
    }
/*End Questions*/

/*news begin*/

.date-news{
    margin-top: 15px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #13408b;
}

.title-news{
    font-size: 18px;
    font-weight: bold;
    color: #13408b;
    margin-bottom: 10px;
    line-height: 1.2em;
    width: 450px;
}

.image-news{
    width: 146px;
    height: 123px;
    border: 1px solid #4d5b86;
    border-radius: 3px;
    float: left;
    margin-right: 20px;
}

/*news end*/

#questions > ul > li{
    display: inline-block;
}

.image-services{
    width: 147px;
    height: 124px;
    border: 1px solid #54618a;
    border-radius: 3px;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.title-services{
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 10px;
    color: #13408b;
    margin-top: 15px;
}

.services{
    border-top: 1px dashed #6a573a;
    margin-top: 15px;

}

.text-actions{
    overflow: hidden;
}